.post-title {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-title a {
	color:#333;
	text-decoration: none;
}

.post-title a:hover {
	text-decoration: underline;
}

.post-body {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}