<div layout="vertical" layout-fill>

  <md-content flex>

      <jumbotron loading="{{post.loading}}"></jumbotron>

      <div class="post-content" layout-align="center" layout-padding>
        <h2>{{post.title}}</h2>

        <md-card>
        <md-card-content>
        <form layout="column" ng-submit="post.create(forum)">
          <md-input-container>
            <forum-select forum="forum"></forum-select>
          </md-input-container>
          <md-input-container>
            <label>Title</label>
            <input type="text" ng-model="post.content.title" md-autofocus>
          </md-input-container>

          <md-input-container>
            <label>Content</label>
            <textarea ng-model="post.content.body" md-maxlength="150" rows="25" md-select-on-focus></textarea>
          </md-input-container>

          <md-button type="submit" class="md-primary md-raised" aria-label="Post"
          ng-disabled="post.submitting || !post.content.title || !post.content.body">
          <div layout="row" layout-align="center" ng-if="post.submitting">
            <div data-loader="ball-fade"></div>
          </div>
          <span ng-if="!post.submitting">Post</span>
          </md-button>

        </form>
        </md-card-content>
        </md-card>

      </div>
      

  </md-content>

</div>
