<div layout="vertical" layout-fill>

  <md-content flex>
  	
    <jumbotron loading="{{post.loading}}"></jumbotron>

    <div class="post-content" layout-align="center">
      <h1>{{ post.title }}</h1>
      <small class="published-date">
        Published on {{ post.created | date:'short' }}
          &nbsp;|&nbsp;
          {{ post.comments.length }} Comments
      </small>
      <p>{{ post.content }}</p>
    </div>

    <div class="post-comments"
     	ng-hide="post.loading"
    	layout-align="center" 
    	layout="column" 
    	layout-margin 
    	layout-padding>
    	
    	<div layout="column">

    	<md-card ng-if="post.authenticated">
	    	<md-card-content>
	    	<!-- commenting -->
	    	<form ng-submit="post.submitComment()">
	    		<md-input-container class="md-icon-flat md-block">
	    			<label>Leave a Comment</label>
	    			<md-icon>face</md-icon>
	    			<textarea ng-model="post.comment" md-maxlength="150" rows="25"></textarea>
	    		</md-input-container>
	    		<md-button aria-label="Submit Comment" type="submit" class="md-raised md-primary" ng-disabled="post.submitting || !post.comment">
		    		<span ng-hide="post.submitting">Post Comment</span>
		    		<div layout="row" layout-align="center" ng-if="post.submitting">
			        	<div data-loader="ball-fade"></div>
			      	</div>
	    		</md-button>
	    	</form>
	    	</md-card-content>
    	</md-card>

    	<hr/>

    	<md-card ng-hide="post.comments === 0">
	    	<md-card-content class="post-comments">
	    	<md-subheader>{{ (post.comments.length === 0)?'No':post.comments.length }} Comments</md-subheader>
	    	<span ng-if="!post.authenticated">
	    		<md-button ng-click="post.login()" class="md-primary" >
	    			Login to Post a Comment
    			</md-button>
	    	</span>
	    	<md-list>
	    		<md-list-item class="md-2-line" ng-repeat="comment in post.comments | orderBy:'createdAt':true">
	    			<md-icon class="md-avatar-icon">chat</md-icon>
	    			<div class="md-list-item-text comment-list-item" layout="column">
	    				<p class="comment-who">{{ comment.email || "Anonymous" }}</p>
	    				<div class="comment-body">
	    					<h3>{{ comment.message || "*crickets*"}}</h3>
	    				</div>
	    				<p class="comment-date">{{ comment.createdAt | date:'short' }}</p>
	    			</div>
	    			<md-divider ng-if="!$last"></md-divider>
	    		</md-list-item>
	    	</md-list>
	    	</md-card-content>
    	</md-card>
    	</div>

    </div>
  </md-content>

</div>
